@charset "UTF-8";
body {
	font-size: 0.85rem !important;
}
input, button, .btn, textarea {
	font-size: 0.85rem !important;
	padding: 5px 10px !important;
}
/* .login-wrapper {
	width: 500px;
} */

.inputs {
	font-size: .8rem;
	border-radius: 5px;
	padding: 1.5rem 1rem;
}

.rounded-border {
	border-radius: 5px !important;
}

.input-error-msg {
	display: none;
}

.header-logo {
	width: 40px;
	height: auto;
	display: block;
}

.toast-container {
	z-index: 9999;
}
.top-0{
	top: 0;
}
.left-0{
	left: 0;
}
.right-0{
	right: 0;
}
.bottom-0{
	bottom: 0;
}
.topbar {
    height: 2.375rem;
}
.footer-text{
	font-size: 12px !important;
}
button.toast-close-btn{
	background-color: transparent !important;
	border-width: 0 !important; 
}
button.toast-close-btn:hover{
	color: red;
}
table th{
	white-space: nowrap;
}