@charset "UTF-8";

.login-wrapper{
	width: 500px;
}
.inputs{
	font-size: .8rem;
    border-radius: 5px;
    padding: 1.5rem 1rem;
}
.rounded-border{
	border-radius: 5px!important;
}
.input-error-msg{
	display: none;
}
.header-logo{
	width: 40px;
	height: auto;
	display: block;
}